@import "~@/assets/styles/variables.less";
@import "~@/assets/styles/mixins.less";

.p_not_found {
  #flex > .column();
  #flex > .center();
  width: 100%;
  min-height: 100vh;

  p {
    font-size: 32px;
    color: @black;
    font-weight: @font_strong;
  }
} 